<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-form">
        <h1>Welcome to Admin</h1>
        <form action="/success" method="post">
            <p>ManagerName</p>
            <input type="name" name="ManagerName" placeholder="Enter your name">
            <p>ManagerEmail</p>
            <input type="email" name="email" placeholder="Enter your email"> 
            <p>Password</p> 
            <input type="password" name="password" placeholder="Enter your password">
            <p>EventDetails</p>
            <input type="name" name="eventname" placeholder="Enter Event Name">
            <p>EventDate</p>
            <input type="date" name="date" placeholder="EventDate">
            <p>Description</p>
            <input type="text" name="Description" placeholder="Enter Description">         
            <span><button type="submit">Create</button><a href="./confirmedevent"></a></span>
        </form>
    </div>
</body>
</html>