<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>BookEvents</title>
</head>
<body>
    <div class="login-form">
    <form action="/want" method="post">
        <h1>BookEvent</h1>
        <input type="text" name="Participant name" placeholder="ParticipantName"><br><br>
        <input type="number" name="tickets" placeholder=" No of Tickets you want"> <br><br>
        <input type="text" name="Description" placeholder=" Enter Description">
        <button type="submit">Proceed to buy</button>
    </form> 
    </div>  
</body>
</html>