<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://kit.fontawesome.com/26390f6d98.js" crossorigin="anonymous"></script>
    <title>Loginform</title>
</head>
<body>
    <div class="login-form">
        <h1>Welcome to LoginForm</h1>
        <form action="/compain" method="post">
            <p>Email</p>
            <input type="email" name="email" placeholder="Enter your email">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter your password">           
            <button type="Submit">login</button> <br><br>
            <span>Don't Have an account? <a  style="color: azure;" href="./register">Register</a></span>
        </form>
    </div>
    
</body>
</html>